<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ATOS</title>
        <meta name="description" content="An interactive getting started guide for Brackets.">
        <link rel="stylesheet" href="Input.css">
    </head>

    <div class="topnav">
        <div class = "left" align="left">
            <img src="https://atos.net/wp-content/uploads/2019/01/atos-logo-blue.png" alt= "ATOS Logo" style="max-width:100%; max-height:100%;">
        </div>
        <div class="center">
            <form method="GET" action="/displayDashboard" display="inline-block">
                <input type="submit" value="Home" style= "height: 20px; width: 80px">
            </form>
        </div>
        <div class = "right" align="right">
            <a>Account</a>
        </div>
    </div>

    <body>
        <div class="spacing">
            Account details:
            <span id="project" ></span>
        </div>
        <div class="card">
            <div class="inl">
                <label class="in" for="username">Username:</label>
                <label class="in" for="username"><font size="4"><%= user.username%></font></label>
            </div>
            <div class="inl">
                <label class="in" for="firstName">First Name:</label>
                <label class="in" for="firstName"><font size="4"><%= user.firstName%></font></label>
            </div>
            <div class="inl">
                <label class="in" for="lastName">Last Name:</label>
                <label class="in" for="lastName"><font size="4"><%= user.lastName%></font></label>
            </div>
            <div class="inl">
                <label class="in" for="email">Email:</label>
                <label class="in" for="email"><font size="4"><%= user.email%></font></label>
            </div>
            <div class="inl">
                <label class="in" for="company">Company:</label>
                <label class="in" for="company"><font size="4"><%= user.company%></font></label>
            </div>
            <div class="inl">
                <label class="in" for="role">Role:</label>
                <label class="in" for="role"><font size="4"><%= user.role%></font></label>
            </div>
        </div>
    </body>
</html>

