<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ATOS</title>
    <meta name="description" content="An interactive getting started guide for Brackets.">
    <link rel="stylesheet" href="Input.css">
</head>

<div class="topnav">
    <div class="left" align="left">
        <img src="https://atos.net/wp-content/uploads/2019/01/atos-logo-blue.png" alt= "ATOS Logo" style="max-width:100%; max-height:100%;">
    </div>

    <div class="center">
        <form method="GET" action="/displayDashboard" display="inline-block">
            <input type="submit" value="Home">
        </form>
    </div>

    <div class="right" align="right">
        <a>Account</a>
    </div>
</div>

<body>

    <div class="spacing">
        <p>Create New Project</p>
    </div>

    <div class="card">

        <div>
            <form class="inl" method="GET" action="/input">

                <div class="catagoryprimary"><b><u>Project Data</u></b></div>

                <div class="inl">
                    <label class="in" for="Lifecycle">Project Lifecycle</label>
                    <select id="Lifecycle" name="Lifecycle">
                        <option value="N/A"></option>
                        <% for(var a=0; a < myLifecycle.length; a++) { %>
                         <option value="<%= myLifecycle[a] %>"><%= myLifecycle[a] %></option>
                        <% } %>
                    </select>
                </div>

                <div class="inl">
                    <label class="in" for="CNA_Ref_Num">CNA Reference number</label>
                    <input class="in" type="text" id="CNA_Ref_Num" name="CNA_Ref_Num">
                </div>

                <div class="inl">
                    <label class="in" for="Name">Project Name</label>
                    <input class="in" type="text" id="Name" name="Name">
                </div>

                <div class="inl">
                    <label class="in" for="Initiative">Corporate Initiative</label>
                    <input class="in" type="text" id="Initiative" name="Initiative">
                </div>
                <div class="inl">
                    <label class="in" for="CNA_Sub_Portfolio">CNA Sub-Portfolio</label>
                    <input class="in" type="text" id="CNA_Sub_Portfolio" name="CNA_Sub_Portfolio">
                </div>
                <div class="inl">
                    <label class="in" for="CNA_Priority">CNA Priority</label>
                    <input class="in" type="text" id="CNA_Priority" name="CNA_Priority">
                </div>
                <div class="inl">
                    <label class="in" for="CNA_Request">CNA Request Type</label>
                    <input class="in" type="text" id="CNA_Request" name="CNA_Request">
                </div>
                <div class="inl">
                    <label class="in" for="CNA_Country">CNA Country</label>
                    <input class="in" type="text" id="CNA_Country" name="CNA_Country">
                </div>
                <div class="inl">
                    <label class="in" for="IDemand_Num">IDemand Legacy number</label>
                    <input class="in" type="text" id="IDemand_Num" name="IDemand_Num">
                </div>
                <div class="inl">
                    <label class="in" for="Salesforce_Case">Salesforce Case</label>
                    <input class="in" type="text" id="Salesforce_Case" name="Salesforce_Case">
                </div>
                <div class="inl">
                    <label class="in" for="Salesforce_Opportunity">Salesforce Opportunity</label>
                    <input class="in" type="text" id="Salesforce_Opportunity" name="Salesforce_Opportunity">
                </div>

                <br></br>
				<br></br>


                <div class="catagory"><b><u>Project Description</u></b></div>

                <div class="inl">
                    <label class="in" for="CNA_Implement_Date">CNA Requested Implementation Date</label>
                    <input type="date" style="width: 125px" id="CNA_Implement_Date" name="CNA_Implement_Date" value="" min="2010-01-01" max="2030-12-31">
                </div>

                <br></br>
				

                <div class="inl2">
                    <label class="in" for="Description">Description</label>
                    <textarea style="width: 500px; height: 80px" type="text" id="Description" name="Description"></textarea>
                </div>
                <div class="inl2">
                    <label class="in" for="Business_Justification">Business Justification</label>
                    <textarea style="width: 500px; height: 80px" type="text" id="Business_Justification" name="Business_Justification"></textarea>
                </div>

                <br></br>

                <div class="catagory"><b><u>CNA Contact Information</u></b></div>

                <div class="inl">
                    <label class="in" for="Requestor_Name">CNA Requestor Name</label>
                    <input class="in" type="text" id="Requestor_Name" name="Requestor_Name">
                </div>
                <div class="inl">
                    <label class="in" for="Sponsor">CNA Sponsor</label>
                    <input class="in" type="text" id="Sponsor" name="Sponsor">
                </div>
                <div class="inl">
                    <label class="in" for="Architect">CNA Architect</label>
                    <input class="in" type="text" id="Architect" name="Architect">
                </div>
                <div class="inl">
                    <label class="in" for="Project_Manager">CNA Project Manager</label>
                    <input class="in" type="text" id="CNA_Project_Manager" name="CNA_Project_Manager">
                </div>
                <div class="inl">
                    <label class="in" for="Project_Contact">CNA Project Contact 1</label>
                    <input class="in" type="text" id="Project_Contact" name="Project_Contact">
                </div>
                <div class="inl">
                    <label class="in" for="Project_Contact2">CNA Project Contact 2</label>
                    <input class="in" type="text" id="Project_Contact2" name="Project_Contact2">
                </div>
                <div class="inl">
                    <label class="in" for="Project_Contact3">CNA Project Contact 3</label>
                    <input class="in" type="text" id="Project_Contact3" name="Project_Contact3">
                </div>
                <div class="inl">
                    <label class="in" for="Project_Contact4">CNA Project Contact 4</label>
                    <input class="in" type="text" id="Project_Contact4" name="Project_Contact4">
                </div>

                <br></br>
                <br></br>


                <div class="catagory"><b><u>Atos Assignments</u></b></div>

                <div class="inl">
                    <label for="Demand_Owner">Atos Demand Owner</label>
                    <input type="text" id="Demand_Owner" name="Demand_Owner">
                </div>
                <div class="inl">
                    <label for="Assigned_To">Assigned to</label>
                    <input type="text" id="Assigned_To" name="Assigned_To">
                </div>

                <div class="inl">
                    <label for="Program_Name">Program Name</label>
                    <select id="Program_Name" name="Program_Name">
                        <option value="N/A"></option>
                        <% for(var a=0; a < myProgramName.length; a++) { %>
                         <option value="<%= myProgramName[a] %>"><%= myProgramName[a] %></option>
                        <% } %>
                    </select>
                </div>

                <div class="inl">
                    <label for="Project_WBS_Code">Project WBS Code</label>
                    <input type="text" id="Project_WBS_Code" name="Project_WBS_Code">
                </div>
                <div class="inl">
                    <label for="Solution_Architect">Atos Solution Architect / Design Manager</label>
                    <input type="text" id="Solution_Architect" name="Solution_Architect">
                </div>
                <div class="inl">
                    <label for="SA_Assigned_Date">SA assigned Date</label>
                    <input type="date" style="width: 125px; display: block;" id="SA_Assigned_Date" name="SA_Assigned_Date" value="" min="2010-01-01" max="2030-12-31">

                </div>
                <div class="inl">
                    <label for="Project_Manager">Atos Project Manager</label>
                    <input type="text" id="Atos_Project_Manager" name="Atos_Project_Manager">
                </div>
                <div class="inl">
                    <label for="PM_Assigned_Date">PM Assigned Date</label>
                    <input type="date" style="width: 125px; display: block;" id="PM_Assigned_Date" name="PM_Assigned_Date" value="" min="2010-01-01" max="2030-12-31">

                </div>

                <br></br>
                <br></br>

                <div class="catagory"><b><u>Solution & Design Information</u></b></div>

                <div class="inl">
                    <label for="Atos_Solution_Architect">Atos Solution Architect / Design Manager</label>
                    <input type="text" id="Atos_Solution_Architect" name="Atos_Solution_ArchitectComplexity">
                </div>

                <div class="inl">
                    <label for="Complexity">Complexity</label>
                    <select id="Complexity" name="Complexity">
                        <option value="N/A"></option>
                        <% for(var a=0; a < myComplexity.length; a++) { %>
                         <option value="<%= myComplexity[a] %>"><%= myComplexity[a] %></option>
                        <% } %>
                    </select>
                </div>

                <div class="inl">
                    <label for="Difficulty">Solution Difficulty</label>
                    <select id="Difficulty" name="Difficulty">
                        <option value="N/A"></option>
                        <% for(var a=0; a < myDifficulty.length; a++) { %>
                         <option value="<%= myDifficulty[a] %>"><%= myDifficulty[a] %></option>
                        <% } %>
                    </select>
                </div>

                <div class="inl">
                    <label for="Req_RAG_Status">Requirements RAG Status</label>
                    <select id="Req_RAG_Status" name="Req_RAG_Status">
                        <option value="N/A"></option>
                        <% for(var a=0; a < myRequirements.length; a++) { %>
                         <option value="<%= myRequirements[a] %>"><%= myRequirements[a] %></option>
                        <% } %>
                    </select>
                </div>
                <div class="inl">
                    <label for="Req_Gathering_Start">Requirements Gathering Start Date</label>
                    <input type="date" style="width: 125px; display: block;" id="Req_Gathering_Start" name="Req_Gathering_Start" value="" min="2010-01-01" max="2030-12-31">

                </div>
                <div class="inl">
                    <label for="Req_Completion_Date">Target Requirement Completion</label>
                    <input type="date" style="width: 125px; display: block;" id="Req_Completion_Date" name="Req_Completion_Date" value="" min="2010-01-01" max="2030-12-31">

                </div>
                <div class="inl">
                    <label for="Req_Sent_Approval">Requirements Sent for approval</label>
                    <input type="date" style="width: 125px; display: block;" id="Req_Sent_Approval" name="Req_Sent_Approval" value="" min="2010-01-01" max="2030-12-31">

                </div>
                <div class="inl">
                    <label for="Req_Sent_Approval">Requirements sign-off date</label>
                    <input type="date" style="width: 125px; display: block;" id="Req_Sign_Date" name="Req_Sign_Date" value="" min="2010-01-01" max="2030-12-31">

                </div>
                <div class="inl">
                    <label for="SD_RAG_Status">Solution Design RAG Status</label>
                    <select id="SD_RAG_Status" name="SD_RAG_Status">
                        <option value="N/A"></option>
                        <% for(var a=0; a < mySDRAG.length; a++) { %>
                         <option value="<%= mySDRAG[a] %>"><%= mySDRAG[a] %></option>
                        <% } %>
                    </select>
                </div>
                <div class="inl">
                    <label for="SD_RAG_Status">Target Solution Design Completion</label>
                    <input type="date" style="width: 125px; display: block;" id="SD_Completion_Date" name="SD_Completion_Date" value="" min="2010-01-01" max="2030-12-31">

                </div>
                <div class="inl">
                    <label for="SD_RAG_Status">Solution Design Sent for approval</label>
                    <input type="date" style="width: 125px; display: block;" id="SD_Sent_Date" name="SD_Sent_Date" value="" min="2010-01-01" max="2030-12-31">

                </div>
                <div class="inl">
                    <label for="SD_Sign_Date">Solution Design sign-off date</label>
                    <input type="date" style="width: 125px; display: block;" id="SD_Sign_Date" name="SD_Sign_Date" value="" min="2010-01-01" max="2030-12-31">

                </div>
                <div class="inl">
                    <label for="Proposal_Version">Proposal Version</label>
                    <input type="text" id="Proposal_Version" name="Proposal_Version">
                </div>

                <div class="inl">
                    <label for="Peer_Reviewed">Peer Review Required</label>
                    <select id="Peer_Reviewed" name="Peer_Reviewed">
                        <option value="N/A"></option>
                        <option value="Completed">Completed</option>
                        <option value="Incomplete">Incomplete</option>
                    </select>
                </div>

                <div class="inl">
                    <label for="Peer_Reviewer">Peer Reviewer</label>
                    <input type="text" id="Peer_Reviewer" name="Peer_Reviewer">

                </div>

                <div class="inl">
                    <label for="fname">Peer Review Date</label>
                    <input type="date" style="width: 125px; display: block;" id="Peer_Reviewed_Date" name="Peer_Reviewed_Date" value="" min="2010-01-01" max="2030-12-31">

                </div>

                <div class="inl">
                    <label for="QA_Reviewed">QA Review Required</label>
                    <select id="QA_Reviewed" name="QA_Reviewed">
                        <option value="N/A"></option>
                        <option value="Completed">Completed</option>
                        <option value="Incomplete">Incomplete</option>
                    </select>
                </div>

                <div class="inl">
                    <label for="QA_Reviewer">QA Reviewer</label>
                    <input type="text" id="QA_Reviewer" name="QA_Reviewer">
                </div>
                <div class="inl">
                    <label for="QA_Reviewed_Date">QA Review Date</label>
                    <input type="date" style="width: 125px; display: block;" id="QA_Reviewed_Date" name="QA_Reviewed_Date" value="" min="2010-01-01" max="2030-12-31">

                </div>

                <div class="inl">
                    <label for="Scope_Changed">Scope Change Required</label>
                    <select id="Scope_Changed" name="Scope_Changed">
                        <option value="N/A"></option>
                        <option value="Completed">Completed</option>
                        <option value="Incomplete">Incomplete</option>
                    </select>
                </div>

                <div class="inl">
                    <label for="Scope_Change_Date">Scope Change Date</label>
                    <input type="date" style="width: 125px; display: block;" id="Scope_Change_Date" name="Scope_Change_Date" value="" min="2010-01-01" max="2030-12-31">

                </div>
                <div class="inl">
                    <label for="Scope_Change_Num">Scope Change #</label>
                    <input type="text" id="Scope_Change_Num" name="Scope_Change_Num">
                </div>

                <br></br>

                <div class="inl2">
                    <label for="SA_Notes">Solution Architect Notes</label>
                    <textarea style="width:500px; height: 80px" type="text" id="SA_Notes" name="SA_Notes"></textarea>
                </div>

                <br></br>

                <div class="catagory"><b><u>Project Management & Execution</u></b></div>

                <div class="inl">
                    <label for="ATOS_PM">Atos Project Manager</label>
                    <input type="text" id="ATOS_PM" name="ATOS_PM">
                </div>
                <div class="inl">
                    <label for="Execution_Start_Date">Project Execution Start Date</label>
                    <input type="date" style="width: 125px; display: block;" id="Execution_Start_Date" name="Execution_Start_Date" value="" min="2010-01-01" max="2030-12-31">

                </div>

                <div class="inl">
                    <label for="Planning_End_Date">Planning Target Project End Date</label>
                    <input type="date" style="width: 125px; display: block;" id="Planning_End_Date" name="Planning_End_Date" value="" min="2010-01-01" max="2030-12-31">

                </div>
                <div class="inl">
                    <label for="Baseline_Project_End_Date">Baselined Project End Date</label>
                    <input type="date" style="width: 125px; display: block;" id="Baseline_Project_End_Date" name="Baseline_Project_End_Date" value="" min="2010-01-01" max="2030-12-31">

                </div>
                <div class="inl">
                    <label for="Baseline_Date_Change">Baseline Date Change Occurance</label>
                    <input type="text" id="Baseline_Date_Change" name="Baseline_Date_Change">
                </div>
                <div class="inl">
                    <label for="Project_End_Date">Actual Project End Date</label>
                    <input type="date" style="width: 125px; display: block;" id="Project_End_Date" name="Project_End_Date" value="" min="2010-01-01" max="2030-12-31">

                </div>
                <div class="inl">
                    <label for="Project_Percent">Project % Complete</label>
                    <input type="text" id="Project_Percent" name="Project_Percent">
                </div>

                <div class="inl">
                    <label for="Project_RAG_Status">Project Overall RAG Status</label>
                    <select id="Project_RAG_Status" name="Project_RAG_Status">
                        <option value="N/A"></option>
                        <% for(var a=0; a < myProjectRAG.length; a++) { %>
                         <option value="<%= myProjectRAG[a] %>"><%= myProjectRAG[a] %></option>
                        <% } %>
                    </select>
                </div>

                <div class="inl">
                    <label for="Scope_RAG">Scope RAG</label>
                    <select id="Scope_RAG" name="Scope_RAG">
                        <option value="N/A"></option>
                        <% for(var a=0; a < myScopeRAG.length; a++) { %>
                         <option value="<%= myScopeRAG[a] %>"><%= myScopeRAG[a] %></option>
                        <% } %>
                    </select>
                </div>

                <div class="inl">
                    <label for="Schedule_RAG">Schedule RAG</label>
                    <select id="Schedule_RAG" name="Schedule_RAG">
                        <option value="N/A"></option>
                        <% for(var a=0; a < myScheduleRAG.length; a++) { %>
                         <option value="<%= myScheduleRAG[a] %>"><%= myScheduleRAG[a] %></option>
                        <% } %>
                    </select>
                </div>

                <div class="inl">
                    <label for="Budget_RAG">Budget RAG</label>
                    <select id="Budget_RAG" name="Budget_RAG">
                        <option value="N/A"></option>
                        <% for(var a=0; a < myBudgetRAG.length; a++) { %>
                         <option value="<%= myBudgetRAG[a] %>"><%= myBudgetRAG[a] %></option>
                        <% } %>
                    </select>
                </div>

                <div class="inl">
                    <label for="Baseline_Date5">Status Date</label>
                    <input type="date" style="width: 125px; display: block;" id="Status_Date" name="Status_Date" value="" min="2010-01-01" max="2030-12-31">

                </div>

                <br></br>

                <div class="inl2">
                    <label for="Status_Summary">Project Status Summary</label>
                    <textarea style="width:500px; height: 80px" type="text" id="Status_Summary" name="Status_Summary"></textarea>
                </div>
                <div class="inl2">
                    <label for="Executive_Summary">Executive Summary</label>
                    <textarea style="width:500px; height: 80px" t type="text" id="Executive_Summary" name="Executive_Summary"></textarea>
                </div>
                <div class="inl2">
                    <label for="Weekly_Highlights">Weekly Highlights</label>
                    <textarea style="width:500px; height: 80px" type="text" id="Weekly_Highlights" name="Weekly_Highlights"></textarea>
                </div>
                <div class="inl2">
                    <label for="Upcoming">Upcoming activities</label>
                    <textarea style="width:500px; height: 80px" type="text" id="Upcoming" name="Upcoming"></textarea>
                </div>

                <br></br>


                <div class="catagory"><b><u>Documentation</u></b></div>

                <div class="inl">
                    <label for="ATOS_PMO_URL">Atos PMO Folder URL</label>
                    <input type="text" id="ATOS_PMO_URL" name="ATOS_PMO_URL">
                </div>
                <div class="inl">
                    <label for="Collab_URL">Collaboration Folder URL</label>
                    <input type="text" id="Collab_URL" name="Collab_URL">
                </div>
                <div class="inl">
                    <label for="Finance_URL">Atos Finance Folder URL</label>
                    <input type="text" id="Finance_URL" name="Finance_URL">
                </div>

                <br></br>

                <div class="inl2">
                    <label for="Notes">Admin Notes</label>
                    <textarea style="width:500px; height: 80px" type="text" id="Notes" name="Notes"></textarea>
                </div>

                <br>

                <div class="submit">
                    <div></div>
                    <input type="submit" value="Submit">
                    <div></div>
                </div>

            </form>
        </div>
    </div>
    <script>
        function deleteOption() {
            var myDelete = document.getElementById("");
            myDelete.remove(myDelete.selectedIndex);
        }

        function addOption() {
          var myAdd = document.getElementById("");
          var newOption = document.createElement("newOption");
          option.text = "";
          myAdd.add(newOption);
        }
    </script>
</body>
</html>