<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="Pulldown.css">

</head>

<div class="topnav">
    <div class = "left" align="left">
        <img src="https://atos.net/wp-content/uploads/2019/01/atos-logo-blue.png" alt= "ATOS Logo" style="max-width:100%; max-height:100%;">
    </div>
    
    <div class="center">
        <form method="GET" action="/displayDashboard" display="inline-block">
            <input type="submit" value="Home" style= "height: 20px; width: 80px">
        </form>
    </div>

    <div class = "right" align="right">
        <a >Account</a>
    </div>
</div>


<body>

    <div class="spacing">
        <p>Modify Pulldown Options</p>
    </div>

    <div class="card">

        <form method="GET" action="/renderPulldown" display="inline">	
        <div class="inl">
            <label class="in" for="Pulldown">Select: </label>
                <select id="Pulldown" name="Pulldown">

                    <% for(var a=0; a < myArray.length; a++) { %>
                     <option value="<%= myArray[a] %>"><%= myArray[a] %></option>
                    <% } %>
                </select>

        <input type="submit" value ="Submit" style= "height: 30px; width: 80px">

        <br></br>

        <label class="in" for="Selection"><font size="4"><%= mySelectedCSV%></font></label>

        <table display="inline">
               <tr>
                  <th>Option</th><th>Field</th>
               </tr>

               <% for (var i = 0; i < myVal.length; i++) { %>
                    <tr>
                      <td><%= myVal[i].option %></td>
                      <td><%= myVal[i].field %></td>
                    </tr>    
               <% } %>
        </table>

       </div>

        </form>

        <br></br>

        <form method="GET" action="/addNewOption" display="inline-block">	

            <div class="inl">
                <label class="in" for="newOption">Enter new option</label>
                <input class="in" type="text" id="newOption" name="newOption">            
            
                <input type="submit" value ="Submit" style= "height: 20px; width: 80px">
            </div>
        </form>
    </div>

    <script type="text/javascript">

    </script>

</body>
</html>